<h1>Trouvez le !</h1>
<div class="row">
    <div class="col-lg-12">
        <div ng-controller="rechercheCtrl">
       
				<label class="col-sm-2 control-label">Centre interets</label>
				<div class="col-sm-10">
					<div ng-repeat="ci in cis" class="radio">
						<label>
						<input type="radio" name="pageSet" ng-model="sexe" />{{ci.libelle}}
						</label>
					</div>
				</label>
				</div>
				{{sexe}}
				<div class="col-sm-offset-2 col-sm-10">
					<a href="#/utilisateur/parCentreInteret?id={{ci.id}}"> <button class="btn btn-default">Rechercher</button></a>
				</div>
        </div>
    </div>
</div>